:root {
  --space-unit: 1em;
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-base: calc(1 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 5rem;

  --border-rounded-none: 0;
  --border-rounded-sm: 0.125rem;
  --border-rounded: 0.25rem;
  --border-rounded-lg: 0.5rem;
  --border-rounded-full: 9999px;

  --border-thin: 1px;
  --border-medium: 2px;
  --border-thick: 4px;

  --opacity-0: 0;
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-100: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 60ch;
  border-style: solid;
  border-width: 0;
  border-color: currentColor;
  margin: 0;
  padding: 0;
}

html,
body,
div,
header,
nav,
main,
section,
footer {
  max-width: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  color: inherit;
}

pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  white-space: pre-wrap;
  display: block;
  margin-bottom: 2rem;
  font-weight: 300;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

iframe {
  overflow-x: auto;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

svg {
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* END OF FLIGHT CSS */

:root {
  --background-color: rgb(62, 57, 72);
  --text-color: #e7dadc;
  --scrollbar-color: #e7dadc;
  --link-color--hover: #ffeb3b;
}

html {
  font-size: 16px;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 300ms;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  min-height: calc(100vh);
  justify-content: stretch;
}

body > * {
  padding: 1rem;
}

body::-webkit-scrollbar {
  background-color: inherit;
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--border-rounded-lg);
  border: 3px solid var(--scrollbar-color);
}

*::-webkit-scrollbar {
  background-color: inherit;
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: var(--border-rounded-lg);
}

a {
  transition-timing-function: ease-out;
  transition-property: color, opacity;
  transition-duration: 200ms;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: inherit;
}

header + * {
  margin-top: 2rem;
}

.logo {
  padding: 0.5rem;
  background-color: var(--text-color);
  color: var(--background-color);
  margin: 1rem;
  margin-right: auto;
  font-weight: 600;
  line-height: 1;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: var(--text-base);
}

.nav__item {
  transition-property: color;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}

.nav__item a {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

.nav__item a:hover {
  color: var(--link-color--hover);
}

.nav__item a.active {
  color: var(--link-color--hover);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

main a,
footer a {
  text-decoration: underline;
}

main a:hover,
footer a:hover {
  color: var(--link-color--hover);
}

section {
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* STORY LIST */

.story-list > * + * {
  margin-top: 5rem;
}

.story-list__item {
  display: flex;
  flex-direction: column;
}

.story-list__item > * {
  margin-top: 0.4rem;
}

.story-list__title {
  text-decoration: none;
  font-size: var(--text-lg);
  display: inline;
}

.story-list__details {
  font-size: var(--text-sm);
}

.story-list__details span {
  opacity: var(--opacity-75);
}

.story-list__details a {
  opacity: var(--opacity-75);
}

.story-list__details a:hover {
  opacity: var(--opacity-100);
}

.story-list__details > * + * {
  margin-left: 1rem;
}

.story-list__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.story-list__links > * + * {
  margin-left: 2rem;
}

.story-list__links > * {
  background-color: inherit;
  font-size: 0.9em;
}

.story-list__links > *:hover {
  opacity: var(--opacity-100);
}

.story-list__links > a:hover {
  color: var(--link-color--hover);
}

.story-list__links > button {
  opacity: var(--opacity-75);
  transition-property: color, opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  padding: 0.7rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rounded-full);
}

.story-list__links > button:hover {
  opacity: var(--opacity-100);
  transform: scale(1.1);
}

.story-list__links > button svg {
  pointer-events: none;
  transition-property: stroke;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  width: 1em;
  height: 1em;
}

.story-list__links > button.is-bookmarked svg {
  stroke: rgb(10, 219, 10);
}

/* STORY */

.story {
  max-width: 60ch;
  padding-top: 5rem;
}

.story * {
  max-width: none;
}

.story {
  font-size: var(--text-base);
}

.story p + p {
  margin-top: 1rem;
}

.story__header {
  max-width: 100%;
}

.story__title {
  font-size: var(--text-2xl);
}

.story__details {
  margin-top: 0.5rem;
  opacity: var(--opacity-75);
  font-size: var(--text-sm);
}

.story__author {
  font-weight: 600;
}

.story__text {
  margin-top: 2rem;
  font-size: var(--text-lg);
}

.comment-list {
  margin-top: 4rem;
  word-break: break-word;
}

.comment-list__heading {
  margin-bottom: -1rem;
  font-size: var(--text-xl);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.comment-list__heading span:not(.line) {
  margin: 0.5rem;
  display: block;
  width: 100%;
  text-align: center;
}

.comment-list__heading .line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.comment {
  min-width: 100%;
  padding-top: 2.5rem;
}

.comment__header {
  opacity: var(--opacity-75);
  font-size: var(--text-sm);
}

.comment__author {
  font-weight: 600;
}

.comment__text {
  margin-top: 0.4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: var(--text-lg);
}

.comment__text ~ .nested-comment {
  margin-top: -1rem;
}

.comment-list > * + *:not(:nth-child(2)) {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.nested-comment__toggle {
  color: #e0edf1;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin-bottom: 0.5rem;
  opacity: var(--opacity-75);
}

.nested-comment__toggle ~ .comment {
  border-top: none;
  padding-top: 0;
  display: none;
}

.nested-comment__toggle.is-visible ~ .comment {
  display: block;
  position: relative;
  padding-left: 0.5rem;
}

.nested-comment__toggle.is-visible ~ .comment::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-right: 1rem;
  width: 1px;
  background-color: #e0edf154;
}

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0;
  margin-top: auto;
  padding: 1rem;
}

footer span {
  opacity: var(--opacity-75);
}

footer a {
  opacity: var(--opacity-75);
}

footer a:hover {
  opacity: var(--opacity-100);
}

.fetch-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.load-more__button,
.fetch-error__button {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--border-rounded-full);
  color: var(--background-color);
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: var(--text-base);
  user-select: none;
  margin-top: 2rem;
}
